.absolute-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  border-radius: 10px;
}

.gallery-card {
  height: 260px;
  border-radius: 10px;
  background-color: transparent;
  
  .img-art {
    object-fit: cover;
    opacity: 0;
  }
  .img-default {
    object-fit: contain;
  }

  .infos {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px var(--size-small, 10px) var(--size-small, 10px);
    background: rgba(26, 0, 7, 0.60);
    width: 100%;
    color: $brand-100;
    font-size: 14px;
    padding: 5px;
    span {
      color: $brand-200;
      font-size: 10px;
    }
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.bg-brand-200 {
  background-color: $brand-200 !important;
}

.tag {
  border-radius: 10px;
}